In [5]:
import numpy as np
import pandas as pd

## Gathering

In [6]:
# 被過濾的 twitter 推文，並且分析了內容
twitter_archive_df = pd.read_csv('twitter-archive-enhanced.csv')

In [7]:
# 用圖片預測狗的品種
image_predictions_df = pd.read_csv('image-predictions.tsv', sep='\t')

在 tweet.py 檔案透過 Twitter API 得到資料寫在 tweet_json.txt 裡面

In [8]:
# 有紀錄到按讚數和轉貼數
tweet_json_df = pd.read_json('tweet_json.txt', lines = True)

Another way parsing text file to dataframe on the student hub

In [7]:
import json
# 讀取 txt 的 json 並裝成 list
with open('tweet_json.txt', mode='r') as file:
    data = [json.loads(line) for line in file]
# 對 data 編碼成 json 字串，再轉成 dataframe
pd.read_json(json.dumps(data))

## Accessing

#### Image Predictions

In [34]:
image_predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

#### Tweet Json

In [38]:
tweet_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2339 non-null datetime64[ns]
display_text_range               2339 non-null object
entities                         2339 non-null object
extended_entities                2065 non-null object
favorite_count                   2339 non-null int64
favorited                        2339 non-null bool
full_text                        2339 non-null object
geo                              0 non-null float64
id                               2339 non-null int64
id_str                           2339 non-null int64
in_reply_to_screen_name          77 non-null object
in_reply_to_status_id            77 non-null float64
in_reply_to_status_id_str        77 non-null float64
in_reply_to_user_id              77 non-null float64
in_reply_to_user_id_str          77 non-null float64
is_quote_status                  2339 non-null bool
lang                             2339 non-null object
place                            1 non-null object
possibly_sensitive               2203 non-null float64
possibly_sensitive_appealable    2203 non-null float64
quoted_status                    24 non-null object
quoted_status_id                 26 non-null float64
quoted_status_id_str             26 non-null float64
quoted_status_permalink          26 non-null object
retweet_count                    2339 non-null int64
retweeted                        2339 non-null bool
retweeted_status                 167 non-null object
source                           2339 non-null object
truncated                        2339 non-null bool
user                             2339 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 520.9+ KB

In [56]:
tweet_json_df.head(1)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,quoted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37750,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,NaN,NaN,NaN,NaN,8226,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [58]:
# 推文本文內容
tweet_json_df.entities[0]

{'hashtags': [],
 'symbols': [],
 'user_mentions': [],
 'urls': [],
 'media': [{'id': 892420639486877696,
   'id_str': '892420639486877696',
   'indices': [86, 109],
   'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
   'url': 'https://t.co/MgUWQ76dJU',
   'display_url': 'pic.twitter.com/MgUWQ76dJU',
   'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
   'type': 'photo',
   'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
    'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
    'small': {'w': 540, 'h': 528, 'resize': 'fit'},
    'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]}

In [131]:
# 推文附件資訊
tweet_json_df.extended_entities[0]

{'media': [{'id': 892420639486877696,
   'id_str': '892420639486877696',
   'indices': [86, 109],
   'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
   'url': 'https://t.co/MgUWQ76dJU',
   'display_url': 'pic.twitter.com/MgUWQ76dJU',
   'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
   'type': 'photo',
   'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
    'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
    'small': {'w': 540, 'h': 528, 'resize': 'fit'},
    'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]}

In [57]:
# 使用者資訊
tweet_json_df.user[0]

{'id': 4196983835,
 'id_str': '4196983835',
 'name': 'WeRateDogs™',
 'screen_name': 'dog_rates',
 'location': '「 DM YOUR DOGS 」',
 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com',
 'url': 'https://t.co/N7sNNHAEXS',
 'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS',
     'expanded_url': 'http://weratedogs.com',
     'display_url': 'weratedogs.com',
     'indices': [0, 23]}]},
  'description': {'urls': []}},
 'protected': False,
 'followers_count': 7888923,
 'friends_count': 12,
 'listed_count': 6030,
 'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
 'favourites_count': 141227,
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'verified': True,
 'statuses_count': 9931,
 'lang': 'en',
 'contributors_enabled': False,
 'is_translator': False,
 'is_translation_enabled': False,
 'profile_background_color': '000000',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_tile': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1110029608794161152/2SIlO9FZ_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1110029608794161152/2SIlO9FZ_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1553486409',
 'profile_link_color': 'F5ABB5',
 'profile_sidebar_border_color': '000000',
 'profile_sidebar_fill_color': '000000',
 'profile_text_color': '000000',
 'profile_use_background_image': False,
 'has_extended_profile': False,
 'default_profile': False,
 'default_profile_image': False,
 'following': False,
 'follow_request_sent': False,
 'notifications': False,
 'translator_type': 'none'}

檢查 missing data 的欄位

In [40]:
reply = tweet_json_df[tweet_json_df.in_reply_to_status_id_str.notnull()]

In [51]:
# 確認回覆的推文內容
reply.entities.values[0]

{'hashtags': [],
 'symbols': [],
 'user_mentions': [{'screen_name': 'NonWhiteHat',
   'name': 'Patrick Nonwhite',
   'id': 2281181600,
   'id_str': '2281181600',
   'indices': [0, 12]},
  {'screen_name': 'MayhewMayhem',
   'name': 'Мейхью Мейхем',
   'id': 38308544,
   'id_str': '38308544',
   'indices': [13, 26]}],
 'urls': []}

In [49]:
# 確認回覆的推文內容是不是沒有圖片連結
reply.extended_entities.values[0]

nan

In [53]:
reply.in_reply_to_user_id_str.values[0]

2281181600.0

In [92]:
# 是否為引用推文
sum(tweet_json_df.is_quote_status)

31

In [122]:
tweet_json_df.lang.unique()

array(['en', 'und', 'in', 'eu', 'es', 'nl', 'tl', 'ro', 'et'],
      dtype=object)

In [89]:
sum(tweet_json_df.favorited)

0

In [93]:
sum(tweet_json_df.retweeted)

0

In [94]:
sum(tweet_json_df.truncated)

0

In [109]:
# 4196983835 是 @WeRateDogs™
tweet_json_df[tweet_json_df.user.str['id'] != 4196983835].shape

(0, 32)

#### Twitter Archive Enhance

In [13]:
twitter_archive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
# 這個很神奇，晚一點再看
tweet_json_df[tweet_json_df.id != tweet_json_df.id_str][['id', 'id_str', 'in_reply_to_status_id', 'quoted_status_id', 'retweeted_status','in_reply_to_user_id_str']].head() #

,id,id_str,in_reply_to_status_id,quoted_status_id,retweeted_status,in_reply_to_user_id_str
0,892420643555336193,892420643555336192,NaN,NaN,NaN,NaN
1,892177421306343426,892177421306343424,NaN,NaN,NaN,NaN
6,890971913173991426,890971913173991424,NaN,NaN,NaN,NaN
9,890240255349198849,890240255349198848,NaN,NaN,NaN,NaN
11,889880896479866881,889880896479866880,NaN,NaN,NaN,NaN

In [15]:
# 確定 tweet_json_df 和 twitter_archive_df 有關聯的 key 是 id 而不是 id_str
print(sum(twitter_archive_df.tweet_id == 892420643555336193))
print(sum(twitter_archive_df.tweet_id == 892420643555336192))

1
0

In [37]:
twitter_archive_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [38]:
twitter_archive_df[twitter_archive_df.tweet_id == 891327558926688256].expanded_urls.values

array(['https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1'],
      dtype=object)

In [43]:
tweet_json_df[tweet_json_df.id == 891327558926688256].entities.values

array([{'hashtags': [{'text': 'BarkWeek', 'indices': [129, 138]}], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 891327551943041024, 'id_str': '891327551943041024', 'indices': [139, 162], 'media_url': 'http://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg', 'url': 'https://t.co/AtUZn91f7f', 'display_url': 'pic.twitter.com/AtUZn91f7f', 'expanded_url': 'https://twitter.com/dog_rates/status/891327558926688256/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 720, 'h': 540, 'resize': 'fit'}, 'large': {'w': 720, 'h': 540, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}],
      dtype=object)

In [44]:
tweet_json_df[tweet_json_df.id == 891327558926688256].extended_entities.values

array([{'media': [{'id': 891327551943041024, 'id_str': '891327551943041024', 'indices': [139, 162], 'media_url': 'http://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg', 'url': 'https://t.co/AtUZn91f7f', 'display_url': 'pic.twitter.com/AtUZn91f7f', 'expanded_url': 'https://twitter.com/dog_rates/status/891327558926688256/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 720, 'h': 540, 'resize': 'fit'}, 'large': {'w': 720, 'h': 540, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}, {'id': 891327551947157504, 'id_str': '891327551947157504', 'indices': [139, 162], 'media_url': 'http://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg', 'url': 'https://t.co/AtUZn91f7f', 'display_url': 'pic.twitter.com/AtUZn91f7f', 'expanded_url': 'https://twitter.com/dog_rates/status/891327558926688256/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 720, 'h': 540, 'resize': 'fit'}, 'large': {'w': 720, 'h': 540, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}],
      dtype=object)

## Cleaning

### Tweet json

**移除不要的欄位，contributors、coordinates、geo、possibly_sensitive、possibly_sensitive_appealable、place、display_text_range、entities、favorited、retweeted、truncated、user**
##### _Define_
使用 `pandas` 方法 `drop` 以上欄位
##### _Code_

In [92]:
columns = ['contributors', 'coordinates', 'geo', 'possibly_sensitive', 'possibly_sensitive_appealable', 'place', 'display_text_range', 'entities', 'favorited', 'retweeted', 'truncated', 'user']
json_df = tweet_json_df.drop(columns, axis=1)

##### _Test_

In [93]:
json_df.columns

Index(['created_at', 'extended_entities', 'favorite_count', 'full_text', 'id',
       'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_status_id_str', 'in_reply_to_user_id',
       'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink',
       'retweet_count', 'retweeted_status', 'source'],
      dtype='object')

**移除 extended_entities 缺失資料**
##### _Define_
留下 extended_entities 方法 notnull() 為 True 的資料
##### _Code_

In [94]:
json_df = json_df[json_df.extended_entities.notnull()]

##### _Test_

In [96]:
sum(json_df.extended_entities.isnull())

0

**刪除 in_reply_to_screen_name、in_reply_to_status_id、in_reply_to_status_id_str、in_reply_to_user_id、in_reply_to_user_id_str 有值的數據**

##### _Define_
由於這些欄位為同群組的資訊，因此留下 in_reply_to_status_id 沒有值的數據，其他欄位也就一併處理

##### _Code_

In [95]:
json_df = json_df[json_df.in_reply_to_status_id.isnull()]

##### _Test_

In [97]:
# 結果應為 0
print(json_df.in_reply_to_status_id.count(), 
      json_df.in_reply_to_user_id.count(),
      json_df.in_reply_to_screen_name.count(),
      json_df.in_reply_to_user_id.count(),
      json_df.in_reply_to_user_id_str.count())

0 0 0 0 0

**刪除 is_quote_status 為 True 的數據**
##### _Define_
留下 is_quote_status 為 False 數據

##### _Code_

In [98]:
json_df = json_df[~json_df.is_quote_status]

##### _Test_

In [99]:
# 結果應為 0
sum(json_df.is_quote_status)

0

**刪除 retweeted_status 有值的數據**
##### _Define_
留下 retweeted_status 方法 `isnull()` 為 True 的數據
##### _Code_

In [100]:
json_df = json_df[json_df.retweeted_status.isnull()]

##### _Test_

In [101]:
# 應為 0
sum(json_df.retweeted_status.notnull())

0

**檢查剩下資料，移除沒有資料的欄位**
##### _Define_
1. 使用 `info()` 查看哪些欄位資料筆數為 0
2. 使用 `pandas` 方法 `drop` 移除資料筆數為 0 的欄位

##### _Code_

In [102]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1968 entries, 0 to 2338
Data columns (total 20 columns):
created_at                   1968 non-null datetime64[ns]
extended_entities            1968 non-null object
favorite_count               1968 non-null int64
full_text                    1968 non-null object
id                           1968 non-null int64
id_str                       1968 non-null int64
in_reply_to_screen_name      0 non-null object
in_reply_to_status_id        0 non-null float64
in_reply_to_status_id_str    0 non-null float64
in_reply_to_user_id          0 non-null float64
in_reply_to_user_id_str      0 non-null float64
is_quote_status              1968 non-null bool
lang                         1968 non-null object
quoted_status                0 non-null object
quoted_status_id             0 non-null float64
quoted_status_id_str         0 non-null float64
quoted_status_permalink      0 non-null object
retweet_count                1968 non-null int64
retweeted_status             0 non-null object
source                       1968 non-null object
dtypes: bool(1), datetime64[ns](1), float64(6), int64(4), object(8)
memory usage: 309.4+ KB

In [103]:
columns = ['in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'quoted_status', 'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink', 'retweeted_status']
json_df = json_df.drop(columns, axis=1)

##### _Test_

In [104]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1968 entries, 0 to 2338
Data columns (total 10 columns):
created_at           1968 non-null datetime64[ns]
extended_entities    1968 non-null object
favorite_count       1968 non-null int64
full_text            1968 non-null object
id                   1968 non-null int64
id_str               1968 non-null int64
is_quote_status      1968 non-null bool
lang                 1968 non-null object
retweet_count        1968 non-null int64
source               1968 non-null object
dtypes: bool(1), datetime64[ns](1), int64(4), object(4)
memory usage: 155.7+ KB

**修正 id_str 型別為 str datatype**
#####  _Define_
將 id_str 轉為 str datatype
##### _Code_

In [105]:
json_df.id_str = json_df.id_str.astype('str')

##### _Test_

In [113]:
json_df.id_str.dtype

dtype('O')

**修正 lang 型別為 category datatype**
##### _Define_
將 lang 型別轉為 category datatype
##### _Code_

In [114]:
json_df.lang = json_df.lang.astype('category')

##### _Test_

In [115]:
json_df.lang.dtype

CategoricalDtype(categories=['en', 'et', 'eu', 'in', 'nl'], ordered=False)

**修剪 source 內容不要 html 資訊**
##### _Define_
1. 使用 `unique()` 列出內容
2. 使用 `replace()` 修正內容

##### _Code_

In [117]:
json_df.source.unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

In [118]:
replace = {
    '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 'iPhone',
    '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 'Web Client',
    '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>': 'TweetDeck',
}
json_df.source.replace(replace, inplace=True)

##### _Test_

In [119]:
json_df.source.unique()

array(['iPhone', 'Web Client', 'TweetDeck'], dtype=object)